.book {
  height: 180px;
  min-width: 150px;
  background-color: blue;
  margin: 0 1rem;
}

.book:first-child {
  margin-left: 0;
}

.book-container {
  overflow: hidden;
  position: relative;
  background-color: aqua;
  margin: 0 3rem;
}

.translateDiv {
  transform: translateX(-500px);
}

.scroll-button {
  width: 48px;
  margin: auto 0;
  height: 30px;
}
